{% load blog_tag %}
{% regroup dates by year as years_list %}

<ul>
    {% for year in years_list %}
        <li>
            <a href="{% simple_url 'year_archive' year.grouper %}">{{ year.grouper }}</a>

            <div class="test-toggle">
               toggle
            <ul>
                {% for m in year.list %}
                    <li>
                        <a href="{% simple_url 'month_archive' year.grouper m.month %}">{{ m|date:'F' }}</a>
                    </li>
                {% endfor %}
                
            </ul>
            </div>
        </li>
    {% endfor %}
</ul>