{% block feature_image_top %}
{% endblock %}


{% block blog_title %}
    <a href="{{ blog.get_absolute_url }}" class="blog-click-title"><h1 class="text-center">{{ blog.title }}</h1></a>
{% endblock %}
<p class="text-center blog-sub-info">
    {{ blog.publish_date|date:"Y-m-d" }}
    /
    <a href="{{ blog.category.get_absolute_url }}">{{ blog.category.title }}</a>
</p>
{% block article %}
    {{ blog.description|safe }}
    {% lorem 3 p %}
{% endblock %}
{% block tags %}
    {% with blog.tags.all as blog_tags %}
    {% if blog_tags %}
        Keywords:
        {% for t in blog_tags %}
            <span><a href="{{ t.get_absolute_url }}" class="tag"> {{ t }}</a> </span>

        {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock %}
