{% extends 'base.html' %}
{% load bootstrap3 %}
{% load blog_tags %}

{% block title %}
    {{ category|default_if_none:"blog list" }}
{% endblock %}



{% block nav %}
<div>
{#    <p>#}
{#        <span><a href="{% url 'blog:blog_list_all' %}">all</a> </span>#}
{#        {% for c in categories %}#}
{#            <span><a href="{{ c.get_absolute_url }}">{{ c }}</a> </span>#}
{#        {% endfor %}#}
{#    </p>#}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">littlezz</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

          {% for c in categories %}
              {% if c.slug == category %}
                <li class="active"><a href="{{ c.get_absolute_url }}">{{ c.title }} <span class="sr-only">(current)</span></a></li>
              {% else %}
                <li><a href="{{ c.get_absolute_url }}">{{ c.title }}</a></li>
              {% endif %}
          {% endfor %}

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>



{% endblock %}
{% block main %}
<div class="container">

    <div class="col-md-offset-1 col-md-10 text-center">
    {% block content %}
    {% for blog in blog_list %}
        <div>
        <a href="{{ blog.get_absolute_url }}"><h3>{{ blog.title }}</h3></a>
        <p>posted {{ blog.update_time|timesince }}</p>
        {% block feature_image %}
            {% if blog.feature_image %}
                <img src="{{ blog.feature_image.url }}">
            {% endif %}
        {% endblock %}
        <p>{{ blog.description|default:blog.auto_description|truncatewords_html:100|safe }}</p>
        {% block tags %}
            {% with blog.tags.all as blog_tags %}
            {% if blog_tags %}
                Keywords:
                {% for t in blog_tags %}
                    <span><a href="{% url 'blog_list_by_tag' specie t.slug %}" class="tag"> {{ t }}</a> </span>

                {% endfor %}
            {% endif %}
            {% endwith %}
        {% endblock %}
        <hr>
        </div>

    {% endfor %}

{% include 'includes/render_pages.html' %}
{#        {% bootstrap_pagination page_obj %}#}
{% endblock content %}

    </div>

</div>

{% endblock %}




